
  .App-link {
    color: #61dafb;
  }

  /* Estilo para los contenedores de grupo de formulario */
  .form-group {
    margin-bottom: 10px;
    position: relative; /* Añadimos posición relativa al contenedor */
  }

  /* Estilo para el campo de contraseña */
  .form-group input[type="password"] {
    padding-right: 30px; /* Añadimos un relleno a la derecha para el botón */
  }

  /* Estilo para el botón de mostrar/ocultar contraseña */
  .toggle-password-button {
    position: absolute; /* Hacemos que el botón sea absoluto */
    top: 50%; /* Lo centramos verticalmente */
    right: 5px; /* Lo alineamos a la derecha */
    transform: translateY(-50%); /* Ajustamos la posición vertical */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Quitamos el borde */
    cursor: pointer; /* Cambiamos el cursor al pasar por encima */
  }

 

  /*Estilo de la NavBar*/
  * {
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #d3d3d3;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }

  .dashboard-container {
    display: flex; /* Utiliza el modelo de caja flexible para distribuir los elementos internos */
  }
  



 /* Estilos del contenido del dashboard */
.dashboard-content {
  width: calc(100% - 200px); /* Ajusta el ancho para que el contenido se ajuste al lado del Sidebar */
}


  /*Estilos de la barra lateral del Dashboard*/

  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #e7e7e7;
    border-right: 1px solid #ccc;
  }

  .sidebar-header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }

  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }

  .sidebar-menu li {
    padding: 10px 20px;
    border-bottom: 2px solid #eee;
  }

  .sidebar-menu li:last-child {
    border-bottom: none;
  }

  .sidebar-menu li a {
    color: #333;
    text-decoration: none;
  }

  .sidebar-menu li a:hover {
    color: #007bff;
  }

  .sidebar-menu li.configuracion {
    border-top: 2px solid #ccc;
  }

 
