@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

  .App-link {
    color: #61dafb;
  }

body {
  background: #f6f5f7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: 0px 0 0px;
}

  /* Estilos para la página de inicio */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta la altura al 100% de la ventana */
}

.home-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.home-buttons {
  display: flex;
  gap: 20px;
}

.home-button {
  border-radius: 5px;
  border: none;
  background-color: #12B468;
  color:#ffffff;
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 80ms ease-in;
}

.home-button:hover {
  background-color: #919497;
  color: #333
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-box {
  margin: 10px;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 5px;
}


  /* Estilo para los contenedores de grupo de formulario */
  .form-group {
    margin-bottom: 10px;
    position: relative; /* Añadimos posición relativa al contenedor */
  }

  /* Estilo para el campo de contraseña */
  .form-group input[type="password"] {
    padding-right: 30px; /* Añadimos un relleno a la derecha para el botón */
  }

  /*Estilo de la NavBar*/
  * {
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #d3d3d3;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }

  .dashboard-container {
    display: flex; /* Utiliza el modelo de caja flexible para distribuir los elementos internos */
  }



 /* Estilos del contenido del dashboard */
.dashboard-content {
  width: calc(100% - 200px); /* Ajusta el ancho para que el contenido se ajuste al lado del Sidebar */
  padding: 20px 20px;
}


/* Dashboard.css */

.dashboard-title {
  border-bottom: 1px solid #ccc; /* Borde inferior gris */
  height: 68px;
}

.dashboard-title h1 {
  margin-bottom: 0; /* Elimina el margen inferior del título */
}


/*Estilo Equipos header y boton*/
.equipos-header {
  display: flex;
  justify-content: space-between; /* Alinea los elementos al inicio y al final */
  align-items: center; /* Alinea verticalmente los elementos */
  padding: 20px; /* Añade un relleno */
  border-bottom: 1px solid #ccc; /* Línea divisoria inferior */
}




  /*Estilos de la barra lateral del Dashboard*/
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #12B468;
    box-shadow: 0 0 14px rgba(0,0,0,0.25), 
			0 0 5px rgba(0,0,0,0.22);
  }

  .sidebar-header {
    padding: 20px;
    border-bottom: 0px solid #ccc;
  }

  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }

  .sidebar-menu li {
    padding: 20px 20px;
    border-bottom: 1px solid #eee;
  }

  .sidebar-menu li:last-child {
    border-bottom: none;
  }

  .sidebar-menu li a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
  }

  .sidebar-menu li a:hover {
    color: #000000;
    font-size: 24px;
  }

  .sidebar-menu li.configuracion {
    border-top: 2px solid #ccc;
  }

/*Estilo mformulario de agregar equipos*/
.agregar-content {
  padding: 20px 20px;
  border-bottom: 1px solid #ccc; /* Línea divisoria inferior */
}

/*Estilo lista de ejemplo*/
.equipos-lista {
  padding: 20px;
}



/*Estilos botones dashboard */
  .agregar-btn {
    border-radius: 5px;
    border: none;
    background-color: #12B468;
    color:#ffffff;
    font-size: 12px;
    padding: 10px 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 80ms ease-in;
  }
  
  .agregar-btn:hover {
    background-color: #0c874a;
  }


  /* Agrega estilos para la tabla */
.equipos-lista table {
  width: 100%;
  border-collapse: collapse; /* Combina los bordes de las celdas */
}

.equipos-lista th, .equipos-lista td {
  border: 1px solid #ffffff; /* Añade bordes a las celdas */
  padding: 8px; /* Añade relleno */
  text-align: left; /* Alinea el texto a la izquierda */
}

.equipos-lista th {
  background-color: #f2f2f2; /* Color de fondo para las celdas del encabezado */
}

